<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDatabaseContext"
			 connectionString="Data Source=C:\Users\Esmeralda\Source\Repos\DSI_IMPLEMENTACION_NUEVO\BonVino\BonVino\Resources\BonVino.db;"
			 providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>
